
<div class="w-auto">
  <div>
    <app-header></app-header>


    <div >
      <app-searchbar></app-searchbar>
      <button class="button-blue" (click)="redirectCreateEmployee()" style="float: right;">Neuer Mitarbeiter</button>
    </div>
  </div>
  <div>
    <table class ="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Nachname</th>
        <th align="center">Bearbeiten</th>
        <th align="center">Löschen</th>
      </tr>
      </thead>
      <tbody >
        <ng-container *ngFor="let e of employees$ | async">
          <tr (click)="viewDetailsEmployee(e.id)" style="cursor: pointer;">
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td width="50" align="center"><button class="material-icons table-button btn btn-dark" (click)="editEmployee(e.id)">edit</button></td>
            <td width="50" align="center"><button class="material-icons table-button btn btn-dark" (click)="deleteEmployee(e.firstName!, e.id!, $event)">delete</button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="overlay buttons" *ngIf="showConfirmation">
    <div class="confirmation-box button">
      <p>Möchten Sie den Mitarbeiter {{Employeename}} mit ID {{EmployeeId}} wirklich löschen?</p>
      <button style="margin-right: 5px" (click)="confirmDeleteEmployee(EmployeeId)">Ja, möchte ich</button>
      <button (click)="cancelDeleteEmployee()">Abbrechen</button>
    </div>
  </div>
</div>

