<div class="w-auto">
  <div>
    <app-header></app-header>
  </div>

  <div  class="container">
    <h2>Mitarbeiter Details</h2>

    <div class="details-grid">
      <div class="detail-item">
        <label for="firstName">Name:</label>
        <input #firstName id="firstName" type="text">
      </div>
      <div class="detail-item">
        <label for="lastName">Nachname:</label>
        <input #lastName id="lastName" type="text">
      </div>
      <div class="detail-item">
        <label for="city">Stadt:</label>
        <input #city id="city" type="text">
      </div>
      <div class="detail-item">
        <label for="street">Straße:</label>
        <input #street id="street" type="text">
      </div>
      <div class="detail-item">
        <label for="phone">Telefonnummer:</label>
        <input #phone id="phone" type="text">
      </div>
      <div class="detail-item">
        <label for="postalCode">PLZ:</label>
        <input #postalCode id="postalCode" type="text">
      </div>
    </div>
    <div class="buttons">
      <button class="return" (click)="redirectToEmployeeList()">Abbrechen</button>
      <button class="delete" (click)="saveEmployeeToDB(firstName.value,lastName.value,city.value,street.value,phone.value,postalCode.value)">Sichern</button>
    </div>
  </div>
  <div class="overlay" *ngIf="showError">
    <div class="confirmation-box">
      <p>Es müssen alle Felder ausgefüllt sein um einen Mitarbeiter anlegen zu können</p>
      <button (click)="ok()">Okay</button>
    </div>
  </div>
</div>
